*{
    margin: 0;
    padding: 0;
}

.ticket{
    border: 2px solid black;

    &__h1{
        margin-top: 20px;
    }
}


.ticket__header{
    text-align: center;
}


.ticket__employees{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ticket__employees--cards{
    display: flex;
    width:300px;
    height:400px;
    margin: 10px;
    border: 2px solid black;
    text-align: left;
    justify-content: center;
}



